<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <style>

        *{
            font-family: 'Poppins', sans-serif;
            margin:0; padding:0;
            box-sizing: border-box;
            outline: none; border:none;
            text-decoration: none;
            text-transform: capitalize;

        }

        .container{
        min-height:100vh;
            background:linear-gradient(45deg, blueviolet, lightgreen);
            padding:15px 9%;
            padding-bottom: 100px;
        }

        .container .heading{
            text-align: center;
            padding-bottom: 15px;
            color:#fff;
            text-shadow: 0 5px 10px rgba(0,0,0,.2);
            font-size: 35px;
        }

        .container .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
            gap:15px;
        }

        .container .box-container .box{
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
            border-radius: 5px;
            background: #fff;
            text-align: center;
            padding:30px 20px;
        }


        .container .box-container .box img{
            height: 80px;
        }

        .container .box-container .box h3{
            color:#444;
            font-size: 24px;
            padding:10px 0;
        }

        .container .box-container .box p{
            color:black;
            font-size: 17px;
            line-height: 1.8;
        }

        .container .box-container .box .btn{
            margin-top: 10px;
            display: inline-block;
            background:#FFB266;
            color:#fff;
            font-size: 17px;
            border-radius: 10px;
            padding: 4px 20px;
        }

        .container .box-container .box .btn:hover{
            letter-spacing: 1px;
        }

        .container .box-container .box:hover{
            box-shadow: 0 10px 15px rgba(0,0,0,.3);
            transform: scale(1.03);
        }

         .navbar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: dodgerblue;
                    color: #fff;
                    padding: 10px 20px;
                }

                .logo {
                    font-size: 24px;
                }
        .button{

            display: flex;
        padding: 5px 5px;
        border: 2px 2px;
        cursor:pointer;
        margin:2px 2px;

        }

        .register-button, .login-button {
            background-color: blue;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-left: 10px;
            cursor: pointer;
        }

    </style>

</head>
<body>

<div class="container">

    <!-- Navigation Bar -->
    <div class="navbar">
        <h1 class="heading">Biddu Auction</h1>
        <div class="button">
            <a href ="users/register"><button class="register-button">Register</button></a>
            <a href ="users/login"><button class="login-button">Login</button></a>
        </div>
    </div>
    <div class="box-container">

        <div class="box">
            <img src="image/icon-1.png" alt="">
            <h3 style="color: rgb(50, 50, 50)">Cricket Bat</h3>
            <p>A mesmerizing bat played by Mahendra Singh Dhoni</p>
            <a href="#" class="btn">Amount: 5000</a>
            <a href="#" class="btn">Bid</a>
            <a href="#" class="btn">Source By: *****</a>

        </div>

        <div class="box">
            <img src="image/icon-2.png" alt="">
            <h3  style="color: rgb(50, 50, 50)">Football</h3>
            <p>A beautiful football played by Christiano Ronaldo</p>

            <a href="#" class="btn">Amount: 5000</a>
            <a href="#" class="btn">Bid</a>
            <a href="#" class="btn">Source By: *****</a>
        </div>

        <div class="box">
            <img src="image/icon-3.png" alt="">
            <h3  style="color:rgb(50, 50, 50)">Pencil</h3>
            <p>A gorgeous pencil used in NASA by scientists</p>

            <a href="#" class="btn">Amount: 5000</a>
            <a href="#" class="btn">Bid</a>
            <a href="#" class="btn">Source By: *****</a>
        </div>

        <div class="box">
            <img src="image/icon-4.png" alt="">
            <h3  style="color: rgb(50, 50, 50)">Pen</h3>
            <p>A durable pen used by Mark Zuckerbergh</p>

            <a href="#" class="btn">Amount: 5000</a>
            <a href="#" class="btn">Bid</a>
            <a href="#" class="btn">Source By: *****</a>
        </div>

        <div class="box">
            <img src="image/icon-5.png" alt="">
            <h3  style="color: rgb(50, 50, 50)">Iphone 13</h3>
            <p>A newly branded iphone used</p>
            <a href="#" class="btn">Amount: 5000</a>
            <a href="#" class="btn">Bid</a>
            <a href="#" class="btn">Source By: *****</a>
        </div>

        <div class="box">
            <img src="image/icon-6.png" alt="">
            <h3  style="color: rgb(50, 50, 50)">Bottle</h3>
            <p>A gorgeous bottle used in Citytech</p>
            <a href="#" class="btn">Amount: 5000</a>
            <a href="#" class="btn">Bid</a>
            <a href="#" class="btn">Source By: *****</a>
        </div>
        <div class="box">
            <img src="image/icon-6.png" alt="">
            <h3  style="color: rgb(50, 50, 50)">Bottle</h3>
            <p>A gorgeous bottle used in Citytech</p>
            <a href="#" class="btn">Amount: 5000</a>
            <a href="#" class="btn">Bid</a>
            <a href="#" class="btn">Source By: *****</a>
        </div>

        <div class="box">
            <img src="image/icon-6.png" alt="">
            <h3  style="color: rgb(50, 50, 50)">Bottle</h3>
            <p>A gorgeous bottle used in Citytech</p>
            <a href="#" class="btn">Amount: 5000</a>
            <a href="#" class="btn">Bid</a>
            <a href="#" class="btn">Source By: *****</a>
        </div>


    </div>

</div>

</body>
</html>