<!DOCTYPE html>
<html>
<head>
    <style>
        /* Style for the container */
        .container {
          background-color: dodgerblue;
          padding: 10px;
        }

        .navbar {
          overflow: hidden;
        }

    .navbar .title {
      float: left;
      font-size: 30px;
      color: white;
      display: flex;
      align-items: center; /* Center vertically */
    }

        .navbar .add-product {
          float: right;
          padding: 10px 20px;
          background-color: darkblue;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }


    </style>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="title">Seller Dashboard</div>
        <a href="seller/addproduct"><button class="add-product">Add Product</button></a>

    </div>
</div>
</body>
</html>
